
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap');
/*===========================
  COMMON css 
===========================*/
:root {
  --font-family: "Inter", sans-serif;
  --primary: #155bd5;
  --primary-dark: #1c3ab6;
  --primary-light: #e2f1ff;
  --accent: #00d4d7;
  --dark: #121212;
  --accent-dark: #00bac1;
  --accent-light: #dff9f8;
  --success: #13d527;
  --success-dark: #00ae11;
  --success-light: #eafbe7;
  --secondary: #8f15d5;
  --secondary-dark: #6013c7;
  --secondary-light: #f4e5fa;
  --info: #15b2d5;
  --info-dark: #0f8ca8;
  --info-light: #e0f5fa;
  --caution: #dbbb25;
  --caution-dark: #d58f15;
  --caution-light: #fbf9e4;
  --error: #e6185e;
  --error-dark: #bf1257;
  --error-light: #fce4eb;
  --black: #1d1d1d;
  --dark-1: #2d2d2d;
  --dark-2: #4d4d4d;
  --dark-3: #6d6d6d;
  --gray-1: #8d8d8d;
  --gray-2: #adadad;
  --gray-3: #cdcdcd;
  --gray-4: #e0e0e0;
  --light-1: #efefef;
  --light-2: #f5f5f5;
  --light-3: #fafafa;
  --white: #ffffff;
  --nav-dark : #212529;
  --gradient-1: linear-gradient(180deg, #155bd5 0%, #1c3ab6 100%);
  --gradient-2: linear-gradient(180deg, #155bd5 13.02%, #00d4d7 85.42%);
  --gradient-3: linear-gradient(180deg, #155bd5 0%, #8f15d5 100%);
  --gradient-4: linear-gradient(180deg, #155bd5 0%, #13d527 100%);
  --gradient-5: linear-gradient(180deg, #155bd5 0%, #15bbd5 100%);
  --gradient-6: linear-gradient(180deg, #155bd5 0%, #dbbb25 100%);
  --gradient-7: linear-gradient(180deg, #155bd5 0%, #e6185e 100%);
  --gradient-8: linear-gradient(180deg, #1c3ab6 0%, #00bac1 100%);
  --gradient-9: linear-gradient(180deg, #00d4d7 13.02%, #155bd5 85.42%);
  --shadow-1: 0px 0px 1px rgba(40, 41, 61, 0.08),
    0px 0.5px 2px rgba(96, 97, 112, 0.16);
  --shadow-2: 0px 0px 1px rgba(40, 41, 61, 0.04),
    0px 2px 4px rgba(96, 97, 112, 0.16);
  --shadow-3: 0px 0px 2px rgba(40, 41, 61, 0.04),
    0px 4px 8px rgba(96, 97, 112, 0.16);
  --shadow-4: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);
  --shadow-5: 0px 2px 8px rgba(40, 41, 61, 0.04),
    0px 16px 24px rgba(96, 97, 112, 0.16);
  --shadow-6: 0px 2px 8px rgba(40, 41, 61, 0.08),
    0px 20px 32px rgba(96, 97, 112, 0.24);
}
.App {
  text-align: center;
  background-color: var(--dark);
  color: var(--white);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  font-family: var(--font-family);
  color: var(--black);
  font-size: 16px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h5.title_head {
  margin: 0;
  font-weight: 600;
  line-height: 1.5;
}


/* services */

/*===========================
  services css 
===========================*/
.services-eight {
  padding: 0 0 50px 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .services-eight {
    padding: 80px 0 50px 0;
  }
}
@media (max-width: 767px) {
  .services-eight {
    padding: 60px 0 30px 0;
  }
}
.services-eight .single-services {
  padding: 40px 30px;
  border: 1px solid var(--light-1);
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.services-eight .single-services:hover {
  box-shadow: var(--shadow-4);
}
.services-eight .single-services:hover .service-icon {
  color: var(--dark-1);
  border-color: transparent;
  background: var(--primary);
}
.services-eight .single-services:hover .service-icon::after {
  opacity: 1;
  visibility: visible;
}
.services-eight .single-services .service-icon {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-bottom: 25px;
  background: var(--dark-1);
  border: 2px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-size: 40px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
}
.services-eight .single-services .service-icon::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background: var(--primary);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: -1;
  border-radius: 50%;
  border: 1px solid transparent;
}
.services-eight .single-services .service-content h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.services-eight .single-services .service-content p {
  color: var(--dark-3);
}

/* .hello_text_O{
  font-weight: 900;
  font-size: 30rem;
  font-family: 'Dr Sugiyama';padding-right: 20px;
  background: -webkit-linear-gradient(#27b0cd,rgb(61, 20, 77));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
.hello_text{
  font-weight: 900;
  font-size: 20rem; margin-left: 10px;
  font-family: 'Dr Sugiyama';
  background: -webkit-linear-gradient(#27b0cd,rgba(63,23,77,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 } */

 p.title_subscript {
  margin-left: 10px;
  margin-bottom: 0;
}

h5.title_head {
  margin: 0 0 0 10px;
  font-weight: 600;
  line-height: 1.5;
}

.service_card.card {
  background: #efefef;
  /* background: var(--nav-dark); */
  border-radius: 12.8359px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  box-shadow: 0 4px 8px rgb(0 0 0 / 8%);
  height: 100%;
  min-height: 200px;
  position: relative;
  
}

.service_card .card-body {
  color: var(--nav-dark);
}

.service_card_large.card {
    transform: scale(1.05);
  z-index: 1;
  color: var(--nav-dark);

}


.feature_title_Card.card-title.h5 {
  font-size: 25px;
  font-weight: 700;
}


/* scroller */
.scroller_division{
  margin: 0 50px;
}

p.routing_para_link{
  margin-bottom: 0;
  cursor: pointer;
  color: var(--black);
}

p.routing_para_link:hover{
  text-decoration: underline;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

.contact-form .form-control {
  height: 50px;
  border-radius: 0;
}

.contact-form .form-control:focus {
  box-shadow: none;
  border-color: #3498db;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form .btn {
  border-radius: 0;
  background-color: #3498db;
  color: #ffffff;
  font-size: 16px;
  height: 50px;
}

.contact-form .btn:hover,
.contact-form .btn:focus {
  background-color: #2980b9;
  outline: none;
}

.contact-form .alert {
  margin-bottom: 20px;
}

.contact-form .invalid-feedback {
  display: block;
}

div.custom_card_features_body.card-body {
background-color: var(--black);
}


img.d-block.mx-lg-auto.img-fluid {
  border-radius: 25px;
}


section.reason_section {
  /* max-height: 600px; */
}
.reasons_wrapper.d-flex.justify-content-center {
  /* height: 600px; */
}
.col-lg-6.col-sm-12.col-md-6.column_image {
  height: 100%;
  width: auto;
}

.custom_reason_card.card {
  height: 100%;
  border-width: 2.5px;
}

img.card-img {
  height: 100%;
}

.feature_small_column {
  min-height: 300px;
  
}

.col-lg-6.col-sm-12.col-md-6.column_feature_blocks {
  width: 624px;
}
h6.reason_small_title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

p.reason_small_text {
  font-weight: 400;
  font-size: 12px;
}

